body {
  background-color: #1a2238;
}
.App {
  text-align: center;
}

.container {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 7rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  background-color: #f4db7d;
  border-radius: 15px;
  width: 200px;
  height: auto;
}
.book-buttons {
  padding: 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: right;
}
