* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #1a2238;
  font-family: "Roboto";
}
.App {
  text-align: center;
}

.container {
  padding: 1rem;
  display: grid;
  grid-auto-rows: 15rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}
.book {
  background-image: url("./img/book.svg");
  background-size: cover;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-book {
  margin-top: 3rem;
}
.text-book {
  width: 2.5rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: auto;
  background-color: #9daaf2;
  border: none;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}
button {
  margin: 10px;
}
.close-button {
  background-image: url(./img/x-lg-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-color: #f4db7d;
  border: none;
  padding: 10px;
  fill: red;
}

.selected-book {
  background-color: #f4db7d;
  border-radius: 15px;
  min-width: 200px;
}

.book-buttons {
  padding: 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: right;
}
.inputs-group {
  display: flex;
  flex-direction: column;
}
